<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Simple Calculator App</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="myApp">
    <div ng-controller="function">
        <h1 class="title">Calculator App</h1>
        <input type="number" ng-model="num1">
        <button ng-click="add()">+</button>
        <button ng-click="sub()">-</button>
        <button ng-click="mult()">*</button>
        <button ng-click="div()">/</button>
        <button ng-click="ce()">clear</button>
        <p>You have inputed: {{passege}}</p>
        <button ng-click="equal()">=</button>
        <p>Result: {{ans}}</p>
    </div>
</body>
<script src="script.js"></script>
</html>
